.main-view-container {
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 160px;
}

.game-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
}

.left-player, .right-player {
	position: absolute;
	top: 20px;
	width: 20px;
	height: 100px;
	background: white;
}

.left-player {
	left: 20px;
}

.right-player {
	right: 20px;
}

.net {
	position: absolute;
	top: 10px;
	bottom: 10px;
	width: 20px;
	left: 50%;
	background: white;
}

.game-console {
	position: absolute;
	left: 30px;
	right: 30px;
	height: 100px;
	bottom: 30px;
	background: black;
	color: lawngreen;
	overflow: auto;
}

.console-message {
	padding: 0;
	margin: 0;
}

.login-root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.login-root .input-group {
	max-width: 300px;
}

.lobby-root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.lobby-root .right-pane {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 70%
}

.lobby-root .left-pane {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 33%;
}

.chat-root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.chat-messages {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.chat-messages-panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 45px;
	margin: 0;
}

.chat-root .input-group {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.players-panel {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 45px;
	top: 0;
	margin: 0;
}

.actions-toolbar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

.actions-toolbar button {
	margin: 0;
}

.send-button {
	padding: 2px 8px;
}

.send-button .glyphicon {
	font-size: 21px;
	left: -1px;
}

.player-list-item.selectedPlayer {
	background: limegreen;
}

.player-list-item .badge {
	display: none;
}

.player-list-item .badge.me {
	display: inline-block;
	background: cornflowerblue;
	color: white;
}

.left-player-nickname {
	float: left;
	color:white;
}

.right-player-nickname {
	float: right;
	color:white;
}