.main-view-container {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 160px;
    background: gray;
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
}

.left-player, .right-player {
    position: absolute;
    top: 20px;
    width: 20px;
    height: 100px;
    background: white;
}

.left-player {
    left: 20px;
}

.right-player {
    right: 20px;
}

.net {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 20px;
    left: 50%;
    background: white;
}

.game-console {
    position: absolute;
    left: 30px;
    right: 30px;
    height: 100px;
    bottom: 30px;
    background: black;
    color: lawngreen;
    overflow: auto;
}

.console-message {
    padding: 0;
    margin: 0;
}

.login-root {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: deepskyblue;
}

.lobby-root {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: firebrick;
}